<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{worker.firstName}}'s Profile</title>
    {% load static %}
    {% load app_filters %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="{% static 'js/homepage.js' %}"></script>
</head>
<body>
    <!-- HEADER IS FOR THE USER -->
    <div class="header">
        <div class="links">
            <a href="/dashboard">Go back</a>
            <a href="/end_session">Logout</a>
        </div>
        <h1>Welcome, <a href="/dashboard/profile/{{user.id}}">{{user.firstName}}</a></h1>
        <div id="pic">
            {% for pic in user.profile.all %}
                <img src="{{MEDIA_URL}}{{pic.image}}" alt="avatar" style="border-radius: 50%" height="100px" width="100px">
            {% endfor %}
        </div>
        <h3>What would you like to do?</h3>
        {% load tz %}
        {% get_current_timezone as TIME_ZONE %}
        <form action="/dashboard/set_timezone" method="POST">
            {% csrf_token %}
            <p>Change Time Zone</p>
            <select name="timezone">
            {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected {% endif %}>
                {{ tz }}
                </option>
            {% endfor %}
            </select>
            <input type="submit" value="Set">
        </form>
        <a class="link_buttons" href="/dashboard/new">Start a new project</a>
        <a class="link_buttons" href="/dashboard/profile/{{user.id}}">Update your profile</a>
    </div>
    <!-- BELOW IS TO DISPLAY THE WORKER -->
    <div class="wrapper">
        <div class="projects">
            <div class="profile_head">
                <div class="upload">
                    <h1>Upload a profile picture</h1>
                    <form action="/dashboard/create_file" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="profile_picture" id="">
                        <p>
                            <input type="text" name="subject" id="">
                        </p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                {% for pic in user.profile.all %}
                <img src="{{MEDIA_URL}}{{pic.image}}" alt="avatar" width="20%">
                {% endfor %}
                <div class="user_info">
                    <h1>{{ user.firstName}}'s Profile</h1>
                    <h3>Email: {{ user.email }}</h3>
                    <h3>Total Logged Hours:</h3>
                </div>
            </div>
            <table id='projects'>
                <h1>Current projects</h1>
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Project Title</th>
                        <th onclick="sortTable(1)">Start Date</th>
                        <th onclick="sortTable(2)">Due Date</th>
                        <th onclick="sortTable(3)">Project Team</th>
                        <th onclick="sortTable(4)">Quick Links</th>
                        {% if user.id == worker.id %}
                        <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
            {% for project in worker_projects.all %}
            {% if project.done == False%}
            <tr>
                <td><a href="/dashboard/view/{{ project.id }}">{{project.title}}</a></td>
                <td>{{project.start_date | safe}}</td>
                <td>{{project.end_date | safe }}</td>
                <td>
                    {% for user in project.projects_working_on.all %}
                        <a class="workers" href="/dashboard/profile/{{ worker.id }}">{{ worker.firstName }}</a>
                    {% endfor %}
                </td>
                <td>
                    <div class="quick_links">
                        {% if user in project.projects_working_on.all %}
                            <a href="/dashboard/leave_project/{{ project.id }}">Leave project</a>
                        {% else %}
                            <a href="/dashboard/join_project/{{ project.id }}">Join project</a>
                        {% endif %}
                        {% if project in user.made_by.all %}
                            <a href="/dashboard/complete_project/{{project.id}}">Complete project</a>
                            <a href="/dashboard/delete_project/{{ project.id }}">Delete project</a>
                            <a href="/dashboard/edit_project_page/{{ project.id }}">Edit project</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="wrapper">
        <div class="projects">
            <h1>Complete projects</h1>
            <table id='projects'>
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Project Title</th>
                        <th onclick="sortTable(1)">Start Date</th>
                        <th onclick="sortTable(2)">Due Date</th>
                        <th onclick="sortTable(3)">Project Team</th>
                        <th onclick="sortTable(4)">Quick Links</th>
                    </tr>
                </thead>
                <tbody>
                {% for project in worker_projects.all %}
                {% if project.done == True %}
                <tr>
                    <td><a href="/dashboard/view/{{ project.id }}">{{project.title}}</a></td>
                    <td>{{project.start_date | safe}}</td>
                    <td>{{project.end_date | safe }}</td>
                    <td>
                        {% for worker in project.projects_working_on.all %}
                        <a class="workers" href="/dashboard/profile/{{ worker.id }}">{{ worker.firstName }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="quick_links">
                            <a href="/dashboard/complete_project/{{project.id}}">Complete project</a>
                            {% if user in project.projects_working_on.all %}
                                <a href="/dashboard/leave_project/{{ project.id }}">Leave project</a>
                            {% else %}
                                <a href="/dashboard/join_project/{{ project.id }}">Join project</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>