<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ project.title }}</title>
</head>
<body>
    <form action="/dashboard/edit/{{ project.id }}" method="post">
        {% csrf_token %}
        <h1>Make changes to your project</h1>
        <div class="inputs">
            <p>
                <label for="title">Project title</label>
            </p>
            <input type="text" name="title" id="title" value="{{project.title}}">
        </div>
        <div class="inputs">
            <p>
                <label for="start">Project start date</label>
            </p>
            <input type="date" name="start" id="start" value="{{project.start_date|date:'Y-m-d'}}">
        </div>
        <div class="inputs">
            <p>
                <label for="end">Project end date</label>
            </p>
            <input type="date" name="end" id="end" value="{{project.end_date|date:'Y-m-d'}}">
        </div>

        {% if this_project.notes %}
        {% for note in this_project.notes.all %}
        <p>{{ note.note }} -- {{note.created_by.firstName}} </p>
        {% endfor %}
        {% endif %}
        <div class="inputs">
            <p>
                <label for="notes">Project notes</label>
            </p>
            <textarea name="message" id="notes" cols="60" rows="10" placeholder="{{project.notes}}"></textarea>
        </div>
        <button type="submit">Edit Project</button>
    </form>
    </div>
    
</body>
</html>