<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <script src="{% static 'js/homepage.js' %}"></script>
</head>
<body>
        <div class="header">
            <div class="links">
                <a href="/end_session">Logout</a>
            </div>
            <div id="pic">
                {% for pic in user.profile.all %}
                <img src="{{MEDIA_URL}}{{pic.image}}" alt="avatar" style="border-radius: 50%" height="100px" width="100px">
                {% endfor %}
            </div>
            <h1>Welcome, <a href="/dashboard/profile/{{user.id}}">{{user.firstName}}</a></h1>
            <h3>What would you like to do?</h3>
            <li><a href="/dashboard/new">Start a new project</a></li>
            <li><a href="/dashboard/profile/{{user.id}}">Update your profile</a></li>
        </div>
        <div class="wrapper">
            {% load tz %}
            {% get_current_timezone as TIME_ZONE %}
            <form action="/dashboard/set_timezone" method="POST">
                {% csrf_token %}
                <label for="timezone">
                    Time zone:
                </label>
                <select name="timezone">
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>
                        {{ tz }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Set">
            </form>
            <div class="projects">
                <h1>All projects</h1>
                <table id='projects'>
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)">Project Title</th>
                        <th onclick="sortTable(1)">Start Date</th>
                        <th onclick="sortTable(2)">Due Date</th>
                        <th onclick="sortTable(3)">Created By</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for project in all_projects %}
                <tr>
                    <td><a href="/dashboard/view/{{ project.id }}">{{project.title}}</a></td>
                    <td>{{project.start_date | safe}}</td>
                    <td>{{project.end_date | safe }}</td>
                    <td>{{project.created_by.firstName}}</td>
                    {% for worker in project.projects_working_on.all %}
                    <td style="display: block;">
                        <a href="/dashboard/profile/{{ worker.id }}">
                            {{ worker.firstName }}</td>
                        </a>
                    {% endfor %}
                    <td><a href="/dashboard/join_project/{{ project.id }}">Join project</a>
                    </td>
                    <td><a href="/dashboard/delete_project/{{ project.id }}" onclick="return confirmDelete()">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</body>
</html>