<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
    <script>
        $(document).ready(function(){
    $(".show_comments").click(function(){
    $(".comment_boxes").toggle();
    $(".hide_comments").show();
    $(".show_comments").hide();
  });
    $(".hide_comments").click(function(){
    $(".comment_boxes").toggle();
    $(".show_comments").show();
    $(".hide_comments").hide();
  });
});
    </script>
</head>
<body>
    {% load app_filters %}
    <div class="header">
        <div class="links">
            <a href="/dashboard">Go back</a>
            <a href="/end_session">Logout</a>
        </div>
        {% if user.profile.all > 0 %}
        <div id="pic">
            {% for pic in user.profile.all %}
                <img src="{{MEDIA_URL}}{{pic.image}}" alt="" width="150px">
            {% endfor %}
        </div>
        {% endif %}
        <h1>{{user.firstName}} {{ user.lastName }}</h1>
        <div class="worked_at">
            {% if user in project.projects_working_on.all %}
                <p id="total">Total project time: {{ total_project_time|display }}</p>
                <p id="total">Your total time: {{ user_project_time|display }}</p>
                <p id="total">You last <span style="color: green; font-weight: bold;">started</span> working at: <span style="font-weight: bold;">{{ last_time.clock_in|time }}</span></p>
                {% if last_time.clock_in != last_time.clock_out %}
                    <p id="total"> You last <span style="color: red; font-weight: bold;">stopped</span>  working at: <span style="font-weight: bold;">{{ last_time.clock_out|time }}</span></p>
                {% endif %}
        </div>
        <div class="clock_buttons">
        {% if last_time.is_working == True %}
            <form action="/dashboard/clockout/{{ project.id }}">
                <button type="submit" style="background-color: red">Clock Out</button>
            </form>
        {% else %}
            <form action="/dashboard/clockin/{{ project.id }}">
                <button type="submit" style="background-color: green">Clock In</button>
            </form>
        {% endif %}
            <p><a href="/dashboard/leave_project/{{project.id}}">Leave this project</a></p>
        {% else %}
            <p>User NOT assigned to project</p>
            <p><a href="/dashboard/join_project_stay/view/{{ project.id }}">Click here to join this project</a></p>
        {% endif %}
        </div>
    </div>
    <div class="wrapper">
        <div class="projects">
            <div class="title">
                <h1>Project: {{ project.title }}</h1>
                <h4>Due: {{ project.end_date }}</h4>
            </div>
            <p>Currently being worked on by:
                    {% for user in project.projects_working_on.all %}
                        <li>
                            <a href="/dashboard/profile/{{user.id}}">{{ user.firstName }} {{ user.lastName }}</a>
                        </li>
                    {% endfor %}
            </p>
            <div class="add_message">
                {% if messages %}
                    <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                    </ul>
                {% endif %}
                <form action="/dashboard/new_note/{{project.id}}" method="post">
                    {% csrf_token %}
                    <label for="message">Create a message</label>
                    <textarea name="notes" id="message" placeholder="Write something about the {{project.title}} project..." cols="60" rows="8"></textarea>
                    <button type="submit">Post message</button>
                </form>
            </div>
            {% if notes %}
            {% for note in notes reversed %}
            <div class="add_message">
                <label for="">{{ note.created_at}} -- {{note.created_by.firstName}}</label>
                <textarea readonly cols="30" rows="5">{{note.note}}</textarea>
                <div class="add_comment">
                    <form action="/dashboard/new_comment/{{project.id}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="message_id" value="{{note.id}}">
                        <!-- <label for="comment" style="font-size: 14px; font-weight: bold;">Post a comment</label> -->
                        <div class="space">
                            <textarea  name="comments" placeholder="Post a comment..." id="comment" cols="60" rows="3"></textarea>
                            <div class="space2">
                                <a href="javascript:void(0);" class="show_comments">See all comments</a>
                                <a href="javascript:void(0);" class="hide_comments" style="display: none;">Hide all comments</a>
                                <button type="submit">Post comment</button>
                            </div>
                        </div>
                        {% for comment in note.comments_on_message.all %}
                        <textarea readonly name="" class="comment_boxes" cols="30" rows="3" style="display: none;">{{user.firstName}} {{user.lastName}}: {{comment.comments}}</textarea>
                        {% endfor %}
                    </form>
                </div>
            </div>
            {% endfor %}
            {% endif %}
    <div id="testing">
        <div class="table">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Clock In</th>
                    <th> Clock Out</th>
                    <th>Actions</th>
                    <th>Created By</th>
                </tr>
                {% for time in proj_times reversed %}
                <tr>
                    <td>{{ time.created_at|date:"D: M d, Y" }}</td>
                    <td>{{ time.clock_in|time }}</td>
                    {% if time.clock_in != time.clock_out %}
                    <td>{{ time.clock_out|time   }}</td>
                    {% else %}
                    <td>Time running...</td>
                    {% endif %}
                    <td><a href="/dashboard/delete_time/{{ time.id }}">Delete Time Entry</a></td>
                    <td>{{ time.users_time.firstName }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>