<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Project</title>
</head>
<body>
    <div id="header">
        <h1>Welcome {{ user.firstName }}</h1>
        <p><a href="/end_session">Log Out</a></p>
    </div>
    {% if project.created_by.id != user.id %}
    <div id="project">
        <h2>{{ project.title }}</h2>
        <h4>Created by: {{ project.created_by.firstName}}</h4>
        <h5>Start Date: {{ project.start_date | safe }}</h5>
        <h5>Due By: {{ project.end_date | safe }}</h5>
        <p>Currently being worked on by:
            {% if project.working > 1 %}
            <ul>
                {% for user in project.working.all %}
                <li>{{ user.firstName }} {{ user.lastName }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Looks like it is just you.</p>
            {% endif %}
        </p>
    </div>
    {% else %}
    <form action="/dashboard/edit/{{ project.id }}" method="post">
    {% csrf_token %}
    <p>
        Project Name:
        <input type="text" name="title" id="" value="{{ project.title }}">
    </p>
    <p>
        Start Date:
        <input type="date" name="start" id="" value="{{ project.start_date | safe}}">
    </p>
    <p>
        Deadline:
        <input type="date" name="end" id="" value="{{ project.end_date | safe }}">
    </p>
    <p>
        Would you like to assign anyone?
            {% for user in all_user %}
            <label for="{{user.id}}">{{ user.firstName }} {{ user.lastName }}</label>
            <input type="checkbox" name="working" id="" value="{{ user.id }}">
            {% endfor %}
    </p>
    <p>
        Would you like to add a message?
        <textarea name="message" id="" cols="60" rows="3" placeholder='{{ project.messages }}'></textarea>
    </p>
    <button type="submit">Update Project</button>
    </form>
    {% endif %}
    {% if messages in project %}
    <div id="messages">
        <p>{{ project.messages }}</p>
    </div>
    {% endif %}
    
</body>
</html>