body{
    margin: 0;
    padding: 0;
}
div.header{
    width: 25%; 
    height: 100%;
    position: fixed;
    padding-left: 1%;
    background-color: #88cf8f;
    box-sizing: border-box;
}
div.wrapper{
    width: 75%;
    height: auto;
    margin-left: 25%;
    padding: 5%;
    display: flex;
    box-sizing: border-box;
}
div.projects{
    outline: 1px dashed red;
    width: 100%;
    padding: 5%;
}
div.inputs{
    display: flex;
    margin: 2%;
}
label{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2%;
}